<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <div class="container" id="aboutPage">
    <ul class="list-unstyled">
  <li class="media">
    <img class="d-flex mr-3" src="/app/images/sleeping_baby-min.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <h3 class="mt-0 mb-1">Parenting from the first day!</h3>
      Parenting is best starting from the first weeks of his life. From birth to the year is the time of active physical development of the baby, its adaptation to the environment and the acquisition of experience. Only twelve months will be needed for the crumb to learn to smile, to agout, to recognize the voices of parents, to distinguish intonations and to react to their mood. During infancy, parents focus on adherence to nutrition and proper care, but the upbringing of the child should also not be forgotten. It is up to a year at the subconscious level that the basic habits of the baby are laid, its propensities and personal characteristics are formed.
    </div>
  </li>
  <li class="media my-4">
    <img class="d-flex mr-3" src="/app/images/Child_with_book-min.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <h3 class="mt-0 mb-1">Nanny in childs life</h3>
      The employment of modern parents leads to the fact that according to statistics, almost every fourth family now has a nanny. And indeed, a nanny is not just a person who is able to look after a child during the absence of parents! This is a person who becomes especially close to the baby. By the way, often this becomes an occasion for peculiar misunderstandings in the family, but jealous parents should take into account that if your chosen nanny likes your child - this is one of the most unique cases that really need to be proud of. Moreover, choosing a nanny for a child should first of all be guided by his desires and needs.
    </div>
  </li>
  <li class="media">
    <img class="d-flex mr-3" src="/app/images/family-min.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <h3 class="mt-0 mb-1">Influence of parents</h3>
        As parents, we often think that since we love our children, spend time with them, communicate and properly discipline, we provide them with optimal development. It's right. However, a more fundamental basis for the formation of the child's personal development is laid not only by our methods of upbringing, but also by who we are as individuals. Our personal qualities, our own behavior and attitude are the main factors that influence the formation of the child's self-perception, the perception of himself.  Man's beliefs play an important role in his becoming, as a person. The influence of the family on the subconscious, and, consequently, the success is enormous. If a family does not believe in a child, then it can only succeed by applying a giant willpower and carrying out work on themselves. There are typical negative financial attitudes that block a person the way to development and success.
    </div>
  </li>
</ul>
    </div>
</body>
</html>

