<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title></title>
</head>

<body>
    <div class="container">
    <div id="homePage">
    <h1 class="font-effect-shadow-multiple">Welcome to My Best Nanny!!!</h1><br>
        <p>This is the place, where parents can get help<br>
        and find the most suitable nanny satisfying all parent's needs!<br>
        We are glad to welcome you on our website.<br>
        In order to continue working, please click on the following buttons.<br> 
        If you are already registered, please click <strong>Log in</strong>,<br> 
        if not, then <strong>Register</strong></p><br>
    <button type="button" class="btn btn-primary btn-lg"><a class="login" href="/login">Log in</a></button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-success btn-lg"><a class="login" href="/register">Register</a></button>
    </div>
    </div>
</body>
</html>
