<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>

<body>
<div class="container">
<div class="page-header">
    <h1 class="font-effect-shadow-multiple">User Login</h1>
</div>
    
<form ng-submit="main.doLogin(logData);">
    <label>Username</label>
    <input class="form-control" type="text" name="username" ng-model="main.logData.username"><br>

    <label>Password</label>
    <input class="form-control" type="password" name="password" ng-model="main.logData.password"><br>
    
    <button class="btn btn-success btn-lg" type="submit">Login</button>

</form> 
    
<div class="row show-hide-message" ng-show="main.successMsg">
    <div class="alert alert-success">{{main.successMsg}}</div>
</div>
    
<div class="row show-hide-message" ng-show="main.errorMsg">
    <div class="alert alert-danger" >{{main.errorMsg}}</div>
</div>
</div>
</body>
</html>
